/*
  This Typing Effect was found at: http://www.paulund.co.uk/create-typing-effect
  Access Date: 07/01/2016
*/
.css-typing
{
    width: 30em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}
